/* */
h1 {
	padding: 0;
	margin: 0;
}
a {
  text-decoration: none;
}
.image_container {
  width:100%;
  height:100%;
  position: relative;
  background: url(http://i.piccy.info/i9/16aa2934ee370905c81c67af6259490b/1399722945/182402/744267/bg.jpg) center center no-repeat fixed;
background-size: cover;
}
/*Navigation*/
#header_wrap {
  z-index: 2;
  width: 100%;
  height: 400px;
  position: fixed;
  }
  #header {
  max-width: 85%;
  min-width: 320px;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  }
  #header:after {
  clear: both;
  content: '';
  display: block;
  }
  #logo {
  float: left;
  font-size: 12px;
  font-weight: 100;
  }
  /* Begin Nav Bar CSS */
  h1, h2 {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
  }
  
  p {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 500;
  }
  
  
  a {
    color: #2C3E50;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  /*
  
  Main Stuff
  
  */
  
  div.main {
      position: relative;
      z-index: 2;
      height: 100vh;
      overflow-y: auto;
     -webkit-overflow-scrolling: touch;
      padding: 200px 5%;
      background-color: #D7DADB;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.7s;
      -moz-transition: -moz-transform 0.7s;
      transition: transform 0.7s;
      -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
      -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
      transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  }
  
  div.main > h1, div.main > p {
      text-align: center;
  }
  
  div.main > h1 {
      font-size: 2.6rem;
      margin-bottom: 1em;
  }
  
  div.main > p {
      max-width: 450px;
      margin: 0 auto;
      line-height: 1.6;
  }
  
  .navigation-is-open div.main {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
  }
  
  .navi-trigger {
      position: fixed;
      z-index: 3;
      left: 90%;
      top: 20px;
      height: 60px;
      width: 60px;
      background-color:rgba(18, 137, 201, 0.1);
      border-radius: 50%;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
  }
  
  .navi-trigger .navi-icon {
      /* Nav icon created in CSS */
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 22px;
      height: 2px;
      background-color: #1289c9;
  }
  
  .navi-trigger .navi-icon::before, .navi-trigger .navi-icon:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #1289c9;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
      -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
      transition: transform 0.5s, width 0.5s, top 0.3s;
  }
  
  .navi-trigger .navi-icon::before {
      -webkit-transform-origin: right top;
      -moz-transform-origin: right top;
      -ms-transform-origin: right top;
      -o-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px);
  }
  
  .navi-trigger .navi-icon::after {
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px);
  }
  
  .no-touch .navi-trigger:hover .navi-icon::after {
      top: 2px;
  }
  
  .no-touch .navi-trigger:hover .navi-icon::before {
      top: -2px;
  }
  
  .navi-trigger svg {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .navigation-is-open .navi-trigger {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
  }
  
  .navigation-is-open .navi-trigger .navi-icon::after,
  .navigation-is-open .navi-trigger .navi-icon::before {
      /* fFrom Hamburger to Arrow */
      width: 50%;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s;
      -moz-transition: -moz-transform 0.5s, width 0.5s;
      transition: transform 0.5s, width 0.5s;
  }
  
  .navigation-is-open .navi-trigger .navi-icon::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  .navigation-is-open .navi-trigger .navi-icon::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  
  .no-touch .navigation-is-open .navi-trigger:hover .navi-icon::after, .no-touch .navigation-is-open .navi-trigger:hover .navi-icon::before {
      top: 0;
  }
  
  .navi {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(152,152,152,.9);
      visibility: hidden;
      -webkit-transition: visibility 0s 0.7s;
      -moz-transition: visibility 0s 0.7s;
      transition: visibility 0s 0.7s;
  }
  
  .navi .navigation-wrapper {
      /* Navigation content */
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: 40px 5% 40px calc(5% + 80px);
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: -webkit-transform 0.7s;
      -moz-transition: -moz-transform 0.7s;
      transition: transform 0.7s;
      -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
      -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
      transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  }
  
  .navigation-is-open .navi {
      visibility: visible;
      -webkit-transition: visibility 0s 0s;
      -moz-transition: visibility 0s 0s;
      transition: visibility 0s 0s;
  }
  
  .navigation-is-open .navi .navigation-wrapper {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  }
  
  .navi > h2 {
      position: relative;
      margin-bottom: 1.7em;
      font-size: 1.3rem;
      font-weight: 800;
      color: #2C3E50;
      text-transform: uppercase;
  }
  
  .navi > h2::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      height: 1px;
      width: 60px;
      background-color: #2C3E50;
  }
  
  .navi .primary-navi {
      margin-top: 60px;
  }
  
  .navi .primary-navi > li {
      margin: 1.6em 0;
  }
  
  .navi .primary-navi a {
      font-family: 'Raleway', sans-serif;
      font-size: 2.4rem;
      color: #1289c9;
      display: inline-block;
  }
  
  .navi .primary-navi a.selected {
      color: #ffffff;
  }
  
  .no-touch .navi .primary-navi a:hover {
      color: #ffffff;
  }
  
  .no-js div.main {
      overflow: visible;
  }
  
  .no-js .navi {
      visibility: visible;
  }
  
  .no-js .navi .navigation-wrapper {
      height: auto;
      overflow: visible;
      padding: 100px 5%;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
  }
  
  /*
  
  Media Queries Mobile Devices
  
  */
  @media only screen and (min-width: 786px){
    div.div.main {
      padding: 250px 10%;
    }
  
    div.div.main > h1 {
      font-size: 2.6em;
    }
  
    div.div.main > p {
      font-size: 1.6em;
    }
  }
  
  @media only screen and (min-width: 1170px) {
    .navi-trigger {
      top: 40px;
    }
    
    .navi .navigation-wrapper {
        padding: 62px 20%;
      }
      
      .navi .navigation-wrapper::after {
        clear: both;
        content: "";
        display: table;
      }
      
      .navi .half-block {
        width: 50%;
        float: left;
      }
      
      .navi .primary-navi {
        margin-top: 0;
      }
    
      .navi h2 {
        font-size: 1.5rem;
        margin-bottom: 5.6em;
      }
    
      .navi .primary-navi li {
        margin: 2em 0;
      }
    
      .navi .primary-navi a {
        font-size: 2rem;
      }
  }
  /* End Nav Bar CSS */

html, body {
  font-family: 'Anonymous Pro', monospace;
  margin: auto;
  height: 100%;
  width: 100%;
  background: url(http://i.piccy.info/i9/16aa2934ee370905c81c67af6259490b/1399722945/182402/744267/bg.jpg) center center no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}
#typer-size{
  font-size: 35px;
  position: relative;
  left: 633px;
  top: 50px;
}



/*------------------------------------------------------------------
                        DEFAULT STYLES
-------------------------------------------------------------------*/
section {
  margin: 100px 0;
}

hr {
  margin: 10px 0;
}
p{
  font-size: 16px;
}

h3,
h4 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

section h2 {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

section h2:after {
  margin-top: 20px;
  display: inline-block;
  content: "";
  width: 45px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

a,
a:hover {
  color: black;
}

a:hover {
  transition: background-color, color 0.3s ease-in-out;
}


/*------------------------------------------------------------------
                        SECTION.CLIENTS STYLES
-------------------------------------------------------------------*/

.clients .clients-info {
  padding: 7px;
  box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
  margin-bottom: 20px;
  width: 0;
  height: 0;
  line-height: 0;
  opacity: 0;
  margin: 15px auto 10px;
  background: #ededed;
}

.clients .clients-info h3 {
  margin: 0;
  line-height: 180px;
}

/*------------------------------------------------------------------
                        SECTION.PROCESS STYLES
-------------------------------------------------------------------*/
.process .method {
  background: #ccc;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  opacity: 0;
}

.process .method h3 {
  font-style: italic;
}

.process .method p {
  margin: 0;
}

.process .method h4 {
  background: #8fc6ff;
  width: 60px;
  height: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  line-height: 60px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

/*------------------------------------------------------------------
                        SECTION.BLOGS STYLES
-------------------------------------------------------------------*/

.firstAnimation {
  opacity: 1;
  height: 180px;
  width: 250px;
}

/*------------------------------------------------------------------
                        MEDIA QUERIES STYLES
-------------------------------------------------------------------*/
@media only screen and (max-width: 1050px) and (min-width: 600px) {
  .banner > h2,
  .banner .info {
    width: 70%;
  }
  .banner > h2 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 599px) and (min-width: 350px) {
  .banner a {
    font-size: 1em;
  }
  .banner > h2,
  .banner .info {
    width: 80%;
  }
  .banner > h2 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 349px) {
  .banner .info {
    height: auto;
  }
  .banner a {
    font-size: 1em;
    width: 50%;
    display: block;
  }
  .banner a:first-child {
    margin: 0 auto;
  }
  .banner a:last-child {
    margin: 10px auto 0;
  }
  .banner > h2,
  .banner .info {
    width: 80%;
  }
  .banner > h2 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) and (min-width: 550px) {
  .process .row:first-child .col-xs-12,
  .clients .row:first-child .col-xs-12 {
    width: 100%;
  }
  .process .col-xs-12,
  .clients .col-xs-12 {
    width: 50%;
  }
  .clients .col-xs-12:nth-child(3),
  .clients .col-xs-12:nth-child(4) {
    margin-top: 15px;
  }
}
